<%- include('../parts/header.ejs') %>

<%- include('../parts/navbar.ejs') %>

<style>
    .container_search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<div class="ui container container_search">
    <form action="/departamentos" method="POST" style="margin-bottom: -45px; width: 300px;">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label for="">Nome do Departamento</label>
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" name="departamento_nome" type="text" placeholder="Search..." style="border-radius: 5px;">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="containerButton">
        <a class="positive ui button right floated" href="/departamento/new" style="margin: 0px 0 10px 0px;">
            Adicionar Departamento
        </a>
    </div>

    <table class="ui striped table">
        <thead>
            <tr>
                <th>Departamento:</th>
                <th>Encarregado:</th>
                <th class="right aligned">Ações</th>
            </tr>
        </thead>

        <tbody>
            <% departamentos.forEach(departamento => { %>
                <tr>
                    <td><%=departamento.departamento_nome %></td>
                    <td><%=departamento.departamento_encarregado %></td>

                    <td class="right aligned">
                        <a class="ui icon button blue" href="/departamento/edit/<%=departamento.departamento_id %>">
                            <i class="edit icon"></i>
                            Editar
                        </a>

                        <form action="/departamento/delete/<%=departamento.departamento_id %>" method="POST"
                            onsubmit="confirmDelete(event, this)" style="display: inline;">
                            <input type="hidden" value="<%=departamento.departamento_id %>">
                            <button class="ui icon button red">
                                <i class="delete icon"></i>
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        var decision = confirm('Você deseja deletar este departamento?');
        if (decision) {
            form.submit();
        }
    }
</script>
