<%- include('../../parts/header.ejs') %>

<div class="ui container">
    <br>
    <form class="ui form" action="/informacoes/save" method="POST">
        <h4 class="ui dividing header">Endereço</h4>
        <div class="three fields">
            <div class="field">
                <input type="text" minlength="8" maxlength="8" name="endereco_cep" placeholder="CEP" required>
                <input type="hidden" name="endereco_funcionario" value="<%=funcionario.funcionario_id %>">
            </div>
            <div class="field">
                <input type="text" name="endereco_bairro" placeholder="Bairro" required><br>
            </div>
            <div class="field">
                <input type="text" name="endereco_rua" placeholder="Endereço" required><br>
            </div>
            <div class="field">
                <input type="number" name="endereco_numero" placeholder="Número" required>
            </div>
        </div>
        <h4 class="ui dividing header">RG</h4>
        <div class="three fields">
            <div class="field">
                <label>Número do RG</label>
                <input class="form-control" type="hidden" name="rg_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="7" maxlength="7" name="rg_numero" required><br>
            </div>
            <div class="field">
                <label>Órgão Expedidor</label>
                <input class="form-control" type="text" name="rg_orgaoExpedidor" required><br>
            </div>
            <div class="field">
                <label>RG Data de Expedição:</label>
                <input class="form-control" type="date" name="rg_dataExpedicao" required>
            </div>
        </div>
        <h4 class="ui dividing header">Documentos</h4>
        <div class="three fields">
            <div class="field">
                <label>CPF</label>
                <input class="form-control" type="hidden" name="cpf_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="11" maxlength="11" name="cpf_numero" placeholder="Número do CPF" required>
            </div>
            <div class="field">
                <label >SUS</label>
                <input class="form-control" type="hidden" name="sus_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="15" maxlength="15" name="sus_numero" placeholder="Número do SUS" required>
            </div>
        </div>

        <h4 class="ui dividing header">Título de Eleitor</h4>
        <div class="three fields">
            <div class="field">
                <input class="form-control" type="hidden" name="titulo_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="12" maxlength="12" name="titulo_numeroInscricao" placeholder="Número de Inscrição" required><br>
            </div>
            <div class="field">
                <input class="form-control" type="text" minlength="3" maxlength="3" name="titulo_zona" placeholder="Zona" required><br>
            </div>
            <div class="field">
                <select name="titulo_uf">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Título Município</label>
                <input class="form-control" type="text" name="titulo_municipio" required><br>
            </div>
            <div class="field">
                <label>Título de Eleitor Data de Emissão:</label>
                <input class="form-control" type="date" name="titulo_dataEmissao" required>
            </div>
        </div>

        <h4 class="ui dividing header">Carteira de Trabalho</h4>
        <div class="three fields">
            <div class="field">
                <input class="form-control" type="hidden" name="ctps_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="7" maxlength="7" name="ctps_numero" placeholder="CTPS Número" required><br>
            </div>
            <div class="field">
                <input class="form-control" type="text" minlength="4" maxlength="4" name="ctps_serie" placeholder="CTPS Série" required><br>
            </div>
            <div class="field">
                <select class="form-control" name="ctps_uf">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>            
            </div>
        </div>

        <% if (funcionario.funcionario_sexo == "Masculino") { %>
            <h4 class="ui dividing header">Reservista</h4>
            <div class="three fields">
                <div class="field">
                    <input class="form-control" type="hidden" name="reservista_funcionario" value="<%=funcionario.funcionario_id %>">
                    <input class="form-control" type="text" minlength="12" maxlength="12" name="reservista_ra" placeholder="Reservista RA" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" name="reservista_localNascimento" placeholder="Local de Nascimento" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="date" name="reservista_dataNascimento" required><br>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input class="form-control" type="text" name="reservista_filiacaoMae" placeholder="Filiação Mãe"><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" name="reservista_filiacaoPai" placeholder="Filiação Pai">
                </div>
            </div>
        <% } %>

        <h4 class="ui dividing header">Informações Bancárias</h4>
        <div class="three fields">
            <div class="field">
                <input class="form-control" type="hidden" name="banco_funcionario" value="<%=funcionario.funcionario_id %>">
                <input class="form-control" type="text" minlength="4" maxlength="4" name="banco_agencia" placeholder="Número da Agência" required><br>
            </div>
            <div class="field">
                <input class="form-control" type="text" minlength="3" maxlength="3" name="banco_tipoConta" placeholder="Numero de Operação" required><br>
            </div>
            <div class="field">
                <input class="form-control" type="text" minlength="9" maxlength="9" name="banco_numeroConta" placeholder="Número da Conta" required>
            </div>
        </div>

        <div style="padding: 50px 0;">
            <button class="ui button green right floated" type="submit">Cadastrar Informações</button>
        </div>
    </form>

    <form action="/funcionario/delete/<%=funcionario.funcionario_id %>" method="POST" onsubmit="confirmDelete(event, this)">
        <input type="hidden" name="funcionario_id" value="<%=funcionario.funcionario_id %>">
        <button class="ui button red left floated" type="submit">Cancelar Cadastro</button>
    </form>
</div>

<%- include('../../parts/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        var decision = confirm('Você deseja cancelar este cadastro?');
        if (decision) {
            form.submit();
        }
    }
</script>
