<%- include('../parts/header.ejs') %>

<%- include('../parts/navbar.ejs') %>

<div class="ui container">
    <form action="/funcoes" method="POST">
        <input type="search" name="funcao_nome">
        <button>search</button>
    </form>
    <div class="containerButton">
        <a class="positive ui button right floated" href="/funcao/new" style="margin: 10px 0;">
            Adicionar Função
        </a>
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Função</th>
                <th>Departamento</th>
                <th class="right aligned">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% funcoes.forEach(funcao => { %>
                <tr>
                    <td><%=funcao.funcao_nome %></td>
                    <td><%=funcao.departamento_nome %></td>

                    <td class="right aligned">
                        <a class="ui icon button blue" href="#">Vizualizar</a>

                        <a class="ui icon button yellow" href="/funcao/edit/<%=funcao.funcao_id %>">
                            <i class="edit icon"></i>Editar
                        </a>
    
                        <form action="/funcao/delete/<%=funcao.funcao_id  %>" method="POST" onsubmit="confirmDelete(event, this)" style="display: inline;">
                            <input type="hidden" value="<%=funcao.funcao_id %>">
                            <button class="ui icon button red">
                                <i class="delete icon"></i>
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        var decision = confirm('Você deseja deletar esta função?');
        if (decision) {
            form.submit();
        }
    }
</script>
