<%- include('../parts/header.ejs') %>

<%- include('../parts/navbar.ejs') %>

<style>
    .container_search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<!-- Só Jogar essa parte em qualquer outra pagina -->
<div class="ui modal">
    <div class="header">Titulo</div>
    <div class="scrolling content">
        <p>Body do Modal</p>
    </div>
</div>

<div class="ui container container_search">
    <form action="/funcoes" method="POST" style="margin-bottom: -45px; width: 300px;">
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" name="funcao_nome" type="text" placeholder="Search..." style="border-radius: 5px;">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </form>
    <div class="containerButton">
        <a class="positive ui button right floated" href="/funcao/new" style="margin: 10px 0;">
            Adicionar Função
        </a>
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Função</th>
                <th>Departamento</th>
                <th class="right aligned">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% funcoes.forEach(funcao => { %>
                <tr>
                    <td><%=funcao.funcao_nome %></td>
                    <td><%=funcao.departamento_nome %></td>

                    <td class="right aligned">
                        <a class="ui icon button blue" onclick="modalOn()">Vizualizar</a>
                        <!-- href="/data/<%=funcao.funcao_id %> -->

                        <a class="ui icon button yellow" href="/funcao/edit/<%=funcao.funcao_id %>">
                            <i class="edit icon"></i>Editar
                        </a>
    
                        <form action="/funcao/delete/<%=funcao.funcao_id  %>" method="POST" onsubmit="confirmDelete(event, this)" style="display: inline;">
                            <input type="hidden" value="<%=funcao.funcao_id %>">
                            <button class="ui icon button red">
                                <i class="delete icon"></i>
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        var decision = confirm('Você deseja deletar esta função?');
        if (decision) {
            form.submit();
        }
    }
</script>
