<%- include('../parts/header.ejs') %>

<div class="container">
    <br>
    <hr>
    
    <form action="/funcionario/delete/<%=funcionario.funcionario_id %>" method="POST">
        <input type="hidden" name="funcionario_id" value="<%=funcionario.funcionario_id %>">
        <button class="btn btn-primary" type="submit">Cancelar Cadastro</button>
    </form>
    <br>
    <form action="/cadastro/delete/<%=funcionario.funcionario_id %>" method="POST">
        <input type="hidden" name="funcionario_id" value="<%=funcionario.funcionario_id %>">
        <button class="btn btn-warning" type="submit">Refazer Cadastro</button>
    </form>
    <br>
    <a class="btn btn-success" href="/informacoes/<%=funcionario.funcionario_id %>">Continuar</a>
    <hr>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4><%=funcionario.funcionario_nomeCompleto %></h4>
            </div>
            <div class="card-body">
                <h5>Função: </h5>
                <p><%=funcionario.funcao_nome %></p>

                <h5>Departamento: </h5>
                <p><%=funcionario.departamento_nome %></p>

                <h5>Salário: </h5>
                <p><%=funcionario.funcionario_salario %></p>

                <h5>Sexo: </h5>
                <p><%=funcionario.funcionario_sexo %></p>

                <h5>Email: </h5>
                <p><%=funcionario.funcionario_email %></p>

                <h5>Telefone para Contato: </h5>
                <p><%=funcionario.funcionario_telefone %></p>
            </div>
        </div>
    </div>
    <br>
</div>

<%- include('../parts/footer.ejs') %>
