<%- include('../parts/header.ejs') %>
    <style>
        .btn-action {
            width: 150px;
        }
        
        .container_action {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 20px;
        }
        
        .container_action a,
        button {
            margin: 10px 0 !important;
        }
        
        .container-card {
            width: 100% !important;
        }
        
        .container-info {
            width: 50vw;
            display: flex;
            background-color: #333 !important;
        }
        
        @media (max-width: 1000px) {
            .container-info {
                display: flex;
                justify-content: center;
                width: 100vw;
            }
            .container_action {
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }
    </style>

<div class="container" style="margin: 50px 0; width: 100%;">
    <div class="ui grid">
        <div class="two wide">
            <div class="container_action">
                <a class="ui button btn-action" href="/funcionarios">Voltar</a>
                <a class="ui button blue btn-action" href="/funcionario/edit/<%=funcionario.chave_rg %>">EDITAR</a>
                <form action="/funcionario/delete/<%=funcionario.chave_rg %>" method="POST" onsubmit="confirmDelete(event, this)">
                    <input type="hidden" name="chave_rg" value="<%=funcionario.chave_rg %>">
                    <button class="ui button red btn-action">Apagar</button>
                </form>
            </div>
        </div>
        <div class="six wide">
            <div class="ui form">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Nome Completo:</label>
                            <input type="text" name="funcionario_nomeCompleto" value="<%=funcionario.funcionario_nomeCompleto %>" disabled>
                        </div>
                        <div class="field">
                            <label>Função:</label>
                            <input type="text" name="" value="<%=funcionario.funcao_nome %>" disabled>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Data de Admissão:</label>
                            <input type="date" name="funcionario_dataAdmissao" value="<%=funcionario.funcionario_dataAdmissao %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Salário:</label>
                            <input type="text" name="funcionario_salario" value="<%=funcionario.funcionario_salario %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Sexo:</label>
                            <input type="text" name="funcionario_sexo" value="<%=funcionario.funcionario_sexo %>" disabled>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Email:</label>
                            <input type="email" name="funcionario_email" value="<%=funcionario.funcionario_email %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Contato:</label>
                            <input type="text" name="funcionario_telefone" value="<%=funcionario.funcionario_telefone %>" disabled><br>
                        </div>
                    </div>
        
                    <h4 class="ui dividing header">Endereço</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>CEP:</label>
                            <input type="text" minlength="8" maxlength="8" name="endereco_cep" value="<%=funcionario.endereco_cep %>" disabled>
                        </div>
                        <div class="field">
                            <label>Bairro:</label>
                            <input type="text" name="endereco_bairro" value="<%=funcionario.endereco_bairro %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Rua:</label>
                            <input type="text" name="endereco_rua" value="<%=funcionario.endereco_rua %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Número:</label>
                            <input type="text" name="endereco_numero" value="<%=funcionario.endereco_numero %>" disabled>
                        </div>
                    </div>
                    <h4 class="ui dividing header">Documentos</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Número do RG</label>
                            <input class="form-control" type="text" minlength="7" maxlength="7" name="rg_numero" value="<%=funcionario.rg_numero %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Órgão Expedidor</label>
                            <input class="form-control" type="text" name="rg_orgaoExpedidor" value="<%=funcionario.rg_orgaoExpedidor %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>RG Data de Expedição:</label>
                            <input class="form-control" type="date" name="rg_dataExpedicao" value="<%=funcionario.rg_dataExpedicao %>" disabled>
                        </div>
                    </div>
        
                    <div class="three fields">
                        <div class="field">
                            <label>Naturalidade:</label>
                            <input class="form-control" type="text" name="rg_naturalidade" value="<%=funcionario.rg_naturalidade %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Data de Nascimento:</label>
                            <input class="form-control" type="date" name="rg_dataNascimento" value="<%=funcionario.rg_dataNascimento %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Filiação:</label>
                            <input class="form-control" type="text" name="rg_filiacao" value="<%=funcionario.rg_filiacao %>" disabled>
                        </div>
                    </div>
        
                    <div class="three fields">
                        <div class="field">
                            <h4 class="ui dividing header">CPF:</h4>
                            <label>Número do CPF:</label>
                            <input class="form-control" type="text" minlength="11" maxlength="11" name="cpf_numero" value="<%=funcionario.cpf_numero %>" disabled>
                        </div>
                        <div class="field">
                            <h4 class="ui dividing header">SUS:</h4>
                            <label>Número do SUS:</label>
                            <input class="form-control" type="text" minlength="15" maxlength="15" name="sus_numero" value="<%=funcionario.sus_numero %>" disabled>
                        </div>
                    </div>
            
                    <h4 class="ui dividing header">Título de Eleitor</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Número de Inscrição:</label>
                            <input class="form-control" type="text" minlength="12" maxlength="12" name="titulo_numeroInscricao" value="<%=funcionario.titulo_numeroInscricao %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Zona:</label>
                            <input class="form-control" type="text" minlength="3" maxlength="3" name="titulo_zona" value="<%=funcionario.titulo_zona %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Título UF:</label>
                            <input class="form-control" type="text" name="titulo_uf" value="<%=funcionario.titulo_uf %>" disabled>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Título Município:</label>
                            <input class="form-control" type="text" name="titulo_municipio" value="<%=funcionario.titulo_municipio %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Título Data de Emissão:</label>
                            <input class="form-control" type="date" name="titulo_dataEmissao" value="<%=funcionario.titulo_dataEmissao %>" disabled>
                        </div>
                    </div>

                    <h4 class="ui dividing header">Carteira de Trabalho</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Número:</label>
                            <input class="form-control" type="text" minlength="7" maxlength="7" name="ctps_numero" value="<%=funcionario.ctps_numero %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Série:</label>
                            <input class="form-control" type="text" minlength="4" maxlength="4" name="ctps_serie" value="<%=funcionario.ctps_serie %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>CTPS UF:</label>
                            <input class="form-control" type="text" name="ctps_uf" value="<%=funcionario.ctps_uf %>" disabled>
                        </div>
                    </div>

                    <div id="reservista">
                        <h4 class="ui dividing header">Reservista</h4>
                        <div class="three fields">
                            <div class="field">
                                <label>Número do RA:</label>
                                <input class="form-control" id="ra" type="text" minlength="12" maxlength="12" name="reservista_ra" value="<%=funcionario.reservista_ra %>" disabled><br>
                            </div>
                        </div>
                    </div>

                    <h4 class="ui dividing header">Informações Bancárias</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Agência:</label>
                            <input class="form-control" type="text" name="banco_agencia" value="<%=funcionario.banco_agencia %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Tipo de Conta:</label>
                            <input class="form-control" type="text" minlength="3" maxlength="3" name="banco_tipoConta" value="<%=funcionario.banco_tipoConta %>" disabled><br>
                        </div>
                        <div class="field">
                            <label>Número da Conta:</label>
                            <input class="form-control" type="text" minlength="9" maxlength="9" name="banco_numeroConta" value="<%=funcionario.banco_numeroConta %>" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<%- include('../parts/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();
        var decision = confirm('Você deseja deletar este funcionário?');
                
        if (decision) {
            var confirm_decision = confirm('Você tem certeza? Na vez em que uma informação for deletada, ela não pode ser recuperada!')
            if (confirm_decision) {
                form.submit();
            }
        }
}
</script>
