<%- include('../parts/header.ejs') %>

<div class="ui container">
    <br>
    <form class="ui form" action="/funcionario/update" method="POST">
        <input type="hidden" name="funcionario_id" value="<%=funcionario.funcionario_id %>">
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Nome Completo:</label>
                    <input type="text" name="funcionario_nomeCompleto" value="<%=funcionario.funcionario_nomeCompleto %>" required>
                </div>
                <div class="field">
                    <label>Funções:</label>
                    <select name="funcionario_funcao">
                        <% funcoes.forEach(funcao=> { %>
                            <% if (funcionario.funcionario_funcao == funcoes.funcao_id) { %>
                                <option value="<%=funcao.funcao_id %>" selected><%=funcao.funcao_nome %></option>
                            <% } else { %>
                                <option value="<%=funcao.funcao_id %>" selected><%=funcao.funcao_nome %></option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <input type="date" name="funcionario_dataAdmissao" value="<%=funcionario.funcionario_dataAdmissao %>" required><br>
                </div>
                <div class="field">
                    <input type="text" name="funcionario_salario" value="<%=funcionario.funcionario_salario %>" required><br>
                </div>
                <div class="field">
                    <select name="funcionario_sexo">
                        <% if (funcionario.funcionario_sexo == "Masculino") { %>
                            <option value="<%=funcionario.funcionario_sexo %>" selected><%=funcionario.funcionario_sexo %></option>
                            <option value="Feminino">Feminino</option>
                        <% } else if (funcionario.funcionario_sexo == "Feminino") { %>
                            <option value="<%=funcionario.funcionario_sexo %>" selected><%=funcionario.funcionario_sexo %></option>
                            <option value="Masculino">Masculino</option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="email" name="funcionario_email" value="<%=funcionario.funcionario_email %>" required><br>
                </div>
                <div class="field">
                    <input type="text" name="funcionario_telefone" value="<%=funcionario.funcionario_telefone %>" required><br>
                </div>
            </div>
        </div>
        <a class="ui button" href="/funcionarios">Voltar</a>
        <button class="ui button green" type="submit">Registrar</button>
    </form>
</div>

<%- include('../parts/footer.ejs') %>
