<%- include('../parts/header.ejs') %>

<%- include('../parts/navbar.ejs') %>

<div class="ui container">
    <form action="" method="POST">
        <input type="search" name="rg_numero">
        <button>search</button>
    </form>
    <div class="containerButton">
        <a class="positive ui button right floated" href="/funcionario/new" style="margin: 10px 0;">
            Adicionar Funcionário
        </a>
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Departamento</th>
                <th>Salário</th>
                <th class="right aligned">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% funcionarios.forEach(funcionario => { %>
                <tr>
                    <td><%=funcionario.funcionario_nomeCompleto %></td>
                    <td><%=funcionario.funcao_nome %></td>
                    <td><%=funcionario.departamento_nome %></td>
                    <td><%=funcionario.funcionario_salario %></td>

                    <td class="right aligned">
                        <a class="ui icon button blue" href="/funcionario/data/<%=funcionario.funcionario_id %>">
                            <i class="eye icon"></i>
                            Visualizar
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer.ejs') %>
