<%- include('../parts/header.ejs') %>

<%- include('../parts/navbar.ejs') %>

<div class="ui container">
    <form action="" method="POST" style="margin-bottom: -45px; width: 300px;">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label for="">RG do Funcionário</label>
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" name="rg_numero" type="text" placeholder="RG" style="border-radius: 5px;">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="field">
                    <label for=""></label>
                    <button class="ui button green" style="margin-top: 22px;">Pesquisar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="containerButton">
        <a class="positive ui button right floated" href="/funcionario/new" style="margin: 0px 0 10px 0px;">
            Adicionar Funcionário
        </a>
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Funcionário(a)</th>
                <th>Função</th>
                <th>Departamento</th>
                <th>Salário</th>
                <th>Data de Admissão</th>
                <th class="right aligned">Ações</th>
            </tr>
        </thead>

        <tbody>
            <% funcionarios.forEach(funcionario => { %>
                <tr>
                    <td><%=funcionario.funcionario_nomeCompleto %></td>
                    <td><%=funcionario.funcao_nome %></td>
                    <td><%=funcionario.departamento_nome %></td>
                    <td><%=funcionario.funcionario_salario %></td>
                    <td><%=funcionario.funcionario_dataAdmissao %></td>

                    <td class="right aligned">
                        <a class="ui icon button blue" href="/funcionario/data/<%=funcionario.funcionario_id %>">
                            <i class="eye icon"></i>
                            Visualizar
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer.ejs') %>
